@using BussinessObject;
@using System.Diagnostics;
<html>

<head>
    <!-- Load Base -->
    @RenderPage("Base.cshtml")
</head>

<body>
    <!-- Content -->
    <div class="container">
        @{
            //Validation.RequireField("user_name", "Please enter a Username");
            //Validation.RequireField("password", "Please enter a Password");

            /*
            if (Session["editHosts"] == null)
            {
                Session["editHosts"] = false;
            }
            */
            //Session["editHosts"] = true;

            AccountReferee referee = new AccountReferee();
            GetUserType userType = new GetUserType();

            if (Session["UserID"] != null)
            {
                if (userType.isUserReferee((string)Session["UserType"]))
                {
                    referee.getMyMatches((int)Session["UserID"]);
                }
                else
                {
                    //Debug.WriteLine("redirects at userType.isUserReferee: "+ (string)Session["UserType"]);
                    Response.Redirect("~/index.cshtml");
                }
            }
            else
            {
                //Debug.WriteLine("redirects at Session[UserID] equals null");
                Response.Redirect("~/index.cshtml");
            }


            if (IsPost)
            {
                if (Request.Form["cancel"] == "cancel")
                {
                    Session["editHosts"] = false;
                }

                if (Request.Form["addMatchButton"] == "addMatchButton")
                {
                    Session["editHosts"] = true;
                    //Response.Redirect("~/accountReferee.cshtml");
                }

                if (Request.Form["submitHosting"] == "submitHosting")
                {
                    for (int i = 0; i < referee.MatchIDs.Count; i++)
                    {
                        string id = referee.MatchIDs[i].ToString();
                        if (Request.Form[referee.MatchIDs[i].ToString()] != null && Request.Form[referee.MatchIDs[i].ToString()] == id)
                        {
                            referee.setHosting((int)Session["UserID"], referee.MatchIDs[i]);
                        }
                        else
                        {
                            referee.removeHosting(referee.MatchIDs[i]);
                        }
                    }
                    Session["editHosts"] = false;
                    Response.Redirect("~/accountReferee.cshtml");
                }
            }
        }
        @{
            bool editHosts;
            if (Session["editHosts"] == null)
            {
                editHosts = false;
            }
            else
            {
                editHosts = (bool)Session["editHosts"];
            }
            if (editHosts)
            {
                <h3>List of all Matches</h3>
                <form method="post">
                    <button class="btn waves-effect waves-light" type="submit" name="cancel" value="cancel">Cancel</button>
                </form>
                <div class="row">
                    <div class="col s12 blue lighten-5">
                        <form method="post">
                            <button class="btn waves-effect waves-light" type="submit" name="submitHosting" value="submitHosting">Submit Hosting</button>
                            <table>
                                <thead>
                                    <tr>
                                        <th data-field="selecting">Host</th>
                                        <th data-field="id">Match ID</th>
                                        <th data-field="time">Time</th>
                                        <th data-field="team1">Team1</th>
                                        <th data-field="team2">Team2</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        for (int i = 0; i < referee.MatchIDs.Count; i++)
                                        {
                                            <tr>
                                                @{
                                                    if (referee.RefIDs[i] == (int)Session["UserID"])
                                                    {
                                                        <td>
                                                            <input id="@referee.MatchIDs[i]" type="checkbox" name="@referee.MatchIDs[i]" value="@referee.MatchIDs[i]" checked="checked" />
                                                            <label for="@referee.MatchIDs[i]"></label>
                                                        </td>
                                                    }
                                                    else if (referee.RefIDs[i] > 0)
                                                    {
                                                        <td>
                                                            <input id="@referee.MatchIDs[i]" type="checkbox" name="@referee.MatchIDs[i]" value="@referee.MatchIDs[i]" checked="checked" disabled="disabled" />
                                                            <label for="@referee.MatchIDs[i]"></label>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <input id="@referee.MatchIDs[i]" type="checkbox" name="@referee.MatchIDs[i]" value="@referee.MatchIDs[i]" />
                                                            <label for="@referee.MatchIDs[i]"></label>
                                                        </td>
                                                    }
                                                }

                                                <td>@referee.MatchIDs[i]</td>
                                                <td>@referee.MatchTimes[i].ToString()</td>
                                                <td>@referee.MatchTeam1Names[i]</td>
                                                <td>@referee.MatchTeam2Names[i]</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <h3>Current Matches You Host</h3>
                <form method="post">
                    <button class="btn waves-effect waves-light" type="submit" name="addMatchButton" value="addMatchButton">Add Matches</button>
                </form>
                <div class="row">
                    <div class="col s12 blue lighten-5">

                        <table>
                            <thead>
                                <tr>
                                    <th data-field="setScores">&nbsp;</th>
                                    <th data-field="id">Match ID</th>
                                    <th data-field="time">Time</th>
                                    <th data-field="team1">Team1</th>
                                    <th data-field="team2">Team2</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    for (int i = 0; i < referee.MyMatchIDs.Count; i++)
                                    {
                                        <tr>
                                            <td><a href="@Href("~/UpdateScore", referee.MyMatchIDs[i],referee.MyMatchTeam1Names[i],referee.MyMatchTeam2Names[i])" class="btn waves-effect waves-light">Score</a></td>
                                            <td>@referee.MyMatchIDs[i]</td>
                                            <td>@referee.MyMatchTimes[i].ToString()</td>
                                            <td>@referee.MyMatchTeam1Names[i]</td>
                                            <td>@referee.MyMatchTeam2Names[i]</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                                    }
        }
    </div>

</body>

</html>