@using BussinessObject;
@using DataAccess;
<html>

<head>
    <!-- Load Base -->
    @RenderPage("Base.cshtml")
</head>

<body>
    <!-- Content -->
    <div class="container">
        @{ 
            AccountMember member = new AccountMember();
            GetUserType userType = new GetUserType();

            if (Session["UserID"] != null)
            {
                if (userType.isUserTeamMember((string)Session["UserType"]))
                {
                    //verified correctly for user type
                    member.setVariables((int)Session["UserID"]);
                }
                else
                {
                    //Debug.WriteLine("redirects at userType.isUserReferee: "+ (string)Session["UserType"]);
                    Response.Redirect("~/index.cshtml");
                }
            }
            else
            {
                //Debug.WriteLine("redirects at Session[UserID] equals null");
                Response.Redirect("~/index.cshtml");
            }

        }
        @RenderPage("~/EditProfile.cshtml");
        <h3>@member.Username</h3>
        <div class="row">
            <div class="col s12 blue lighten-5">
                <table>
                    <tr>
                        <td>Contact Email: @member.Email</td>
                    </tr>
                    <tr>
                        <td>School: @member.School</td>
                    </tr>
                    <tr>
                        <td>Team: @member.Teamname</td>
                    </tr>
                    <tr>
                        <td>Team Score: @member.Score</td>
                    </tr>
                    <tr>
                        <td>Type: member</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>

</html>