@using BussinessObject;
@using DataAccess;
<html>

<head>
    <!-- Load Base -->
    @RenderPage("Base.cshtml")
</head>

<body>
    <!-- Content -->
    <div class="container">
        @{ 
            AccountMember member = new AccountMember();
            string userID = Request.QueryString["user_id"];

            if (userID != "")
            {
                member = new AccountMember(userID);
            }
            else
            {
                Response.Redirect("~/index.cshtml");
            }
        }
        <h3>@member.Username</h3>
        <div class="row">
            <div class="col s10 offset-s1 blue lighten-5">
                <table>
                    <tr>
                        <td>Contact Email: @member.Email</td>
                    </tr>
                    <tr>
                        <td>School: @member.School</td>
                    </tr>
                    <tr>
                        <td>Team: @member.Teamname</td>
                    </tr>
                    <tr>
                        <td>Team Size: @member.TeamSize</td>
                    </tr>
                    <tr>
                        <td>Team Score: @member.Score</td>
                    </tr>
                    <tr>
                        <td>Type: member</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>

</html>