@using BussinessObject;
@using DataAccess;

<html>

<head>
    <!-- Load Base -->
    @RenderPage("_Base.cshtml")
</head>

<body>
    <!-- Content -->
    <div class="container">
        <h4>Match Schedule</h4>
        @{
            bool edit = false;
            Scheduler scheduler = new Scheduler();
            /*string userID = Request.QueryString["user_id"];

            if (userID != "")
            {
                scheduler.setUserID(userID);
            }
            */
            //if (scheduler.isUserSuper())
            //{
                <button class="btn waves-effect waves-light" type="submit" onclick="@{edit=true;}">Edit<i class="material-icons prefix">mode_edit</i></button>@edit
            //}
        }
        <table id="schedule" class="bordered">
            <thead>
                <tr>
                    <th data-field="id">Match ID</th>
                    <th data-field="time">Time</th>
                    <th data-field="team1">Team1</th>
                    <th data-field="team2">Team2</th>
                </tr>
            </thead>

            <tbody>
                @{
                    int count = 0;
                    for (int i = 0; i < scheduler.RoundTest.Count; i++)
                    {
                        for (int j = 0; j < scheduler.RoundTest[i].Matches.Count; j++)
                        {
                            count++;
                            int roundNum = i + 1;
                            <tr>
                                <td>@count</td>
                                <td>round @roundNum</td>
                                <td>@scheduler.RoundTest[i].Matches[j].Team1.Name</td>
                                <td>@scheduler.RoundTest[i].Matches[j].Team2.Name</td>
                            </tr>
                        }
                    }
                }
                
            </tbody>
        </table>
    </div>

</body>

</html>