@using BussinessObject;
@using DataAccess;

<html>

<head>
    <!-- Load Base -->
    @RenderPage("Base.cshtml")
</head>

<body>
    <!-- Content -->
    <div class="container">
        <h4>Match Schedule</h4>
        @{
            bool edit = false;
            Scheduler scheduler = new Scheduler();
            GetUserType getType = new GetUserType();
            DateTime start = DateTime.Now;
            string userID = Request.QueryString["user_id"];

            if (userID != "")
            {
                getType.setUserID(userID);
                if (getType.isUserSuper())
                {
                    <button class="btn waves-effect waves-light" type="submit">Edit<i class="material-icons prefix">mode_edit</i></button>
                }
            }

        }
        <table id="schedule" class="bordered">
            <thead>
                <tr>
                    <th data-field="id">Match ID</th>
                    <th data-field="time">Time</th>
                    <th data-field="team1">Team1</th>
                    <th data-field="team2">Team2</th>
                </tr>
            </thead>

            <tbody>
                @{
                    //int count = 0;
                    for (int i = 0; i < scheduler.NumberOfRows; i++)
                    {
                        //count++;
                        //int roundNum = i + 1;
                        <tr>
                            <td>@scheduler.MatchIDs[i]</td>
                            <td>@scheduler.MatchTimes[i].ToString()</td>
                            <td>@scheduler.MatchTeam1Names[i]</td>
                            <td>@scheduler.MatchTeam2Names[i]</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>

</body>

</html>