@using BussinessObject;
<html>

<head>
    <!-- Load Base -->
    @RenderPage("Base.cshtml")
</head>

<body>
    <!-- Content -->
    <div class="container">
        <table id="schedule" class="bordered">
            <thead>
                <tr>
                    <th data-field="id">Match ID</th>
                    <th data-field="time">Time</th>
                    <th data-field="team1">Team1</th>
                    <th data-field="team1scores">Team1 Scores</th>
                    <th data-field="team2">Team2</th>
                    <th data-field="team2scores">Team2 Scores</th>
                </tr>
            </thead>

            <tbody>
                @{
                    Scores scores = new Scores();
                    
                    for (int i = 0; i < scores.MatchIDs.Count; i++)
                    {
                        <tr>
                            <td>@scores.MatchIDs[i]</td>
                            <td>@scores.DateTimes[i]</td>
                            <td>@scores.Team1s[i]</td>
                            <td>@scores.Team1Scores[i]</td>
                            <td>@scores.Team2s[i]</td>
                            <td>@scores.Team2Scores[i]</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</body>

</html>